![nn](04.png)

In [2]:
import pandas as pd

In [3]:
col_names=['스트레스', '스트레스남학생', '스트레스여학생', '우울감경험율', '우울남학생', '우울여학생', '자살생각율', '자살남학생','자살여학생']

In [4]:
raw_data = pd.read_excel("./data/teen.xls", header=1, usecols="C:K", names=col_names)

In [5]:
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험율  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8

In [6]:
raw_data.loc[1] = 100 - raw_data.loc[0]

In [7]:
raw_data['응답']=['그렇다','아니다']
raw_data.set_index('응답',drop=True, inplace=True)

In [8]:
raw_data

     스트레스  스트레스남학생  스트레스여학생  우울감경험율  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
응답
그렇다  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8
아니다  64.9     70.2     59.2    74.6   78.8   70.1   88.8   91.2   86.2